<div class="col-md-3 left_col">
  <div class="left_col scroll-view">
    <div class="navbar nav_title" style="border: 0;">
      <div *ngIf="!isSiteAdmin">
        <a [routerLink]="['/']" class="site_title"><i class="fa fa-group"></i> <span>Kidorah</span></a>
      </div>
      <div *ngIf="isSiteAdmin">
        <a [routerLink]="['/sa']" class="site_title"><i class="fa fa-group"></i> <span>Kidorah</span></a>
      </div>
    </div>
    <div class="clearfix"></div>
    <div class="profile">
      <div class="profile_pic">
        <img src="user.png" alt="" class="img-circle profile_img">
      </div>
      <div class="profile_info">
        <span>Welcome,</span>
        <h2>{{name}}</h2>
      </div>
    </div>
    <!-- /menu profile quick info -->

    <br/>

    <!-- sidebar menu -->
    <div id="sidebar-menu" class="main_menu_side hidden-print main_menu">
      <div class="menu_section">
        <h3>&nbsp;</h3>

        <!--user or admin-->
        <ul class="nav side-menu" *ngIf="!isSiteAdmin">
          <li routerLinkActive="current-page">
            <a [routerLink]="['/']"><i class="fa fa-home"></i> Home</a>
          </li>
          <li routerLinkActive="active"><a><i class="fa fa-exclamation-circle"></i> Issues <span
            class="fa fa-chevron-down"></span></a>
            <ul class="nav child_menu">
              <li routerLinkActive="current-page"><a [routerLink]="['/bug']">Bug</a></li>
              <li routerLinkActive="current-page"><a [routerLink]="['/feature']">Feature</a></li>
              <li routerLinkActive="current-page"><a [routerLink]="['/enhancement']">Enhancement</a></li>
            </ul>
          </li>
          <li routerLinkActive="current-page">
            <a [routerLink]="['/product']"><i class="fa fa-file-powerpoint-o"></i> Product</a>
          </li>
          <li routerLinkActive="current-page">
            <a [routerLink]="['/stats']"><i class="fa fa-bar-chart"></i> Stats</a>
          </li>
          <li routerLinkActive="current-page">
            <a [routerLink]="['/history']"><i class="fa fa-history"></i> History</a>
          </li>
        </ul>
        <!--/user or admin-->

        <!--siteadmin-->
        <ul class="nav side-menu" *ngIf="isSiteAdmin">
          <li routerLinkActive="current-page">
            <a [routerLink]="['/sa']"><i class="fa fa-home"></i> Home</a>
          </li>
        </ul>
        <!--/siteadmin-->

      </div>
    </div>
    <!-- /sidebar menu -->

    <!-- menu footer buttons -->
    <div class="sidebar-footer hidden-small" *ngIf="!isSiteAdmin">
      <a data-toggle="tooltip" data-placement="top" title="Scroll To Top" (click)="scrollToTop()">
        <span class="glyphicon glyphicon-arrow-up" aria-hidden="true"></span>
      </a>
      <a data-toggle="tooltip" data-placement="top" title="Bug" style="padding: 5px 0 5px;" [routerLink]="['/bug']">
        <span class="fa fa-lg fa-bug" aria-hidden="true"></span>
      </a>
      <a data-toggle="tooltip" data-placement="top" title="Search Issue" [routerLink]="['/issue/search']">
        <span class="glyphicon glyphicon-search" aria-hidden="true"></span>
      </a>
      <a data-toggle="tooltip" data-placement="top" title="Logout" (click)="logout()">
        <span class="glyphicon glyphicon-off" aria-hidden="true"></span>
      </a>
    </div>
    <!-- /menu footer buttons -->
  </div>
</div>

<!-- top navigation -->
<div class="top_nav">
  <div class="nav_menu">
    <nav>
      <div class="nav toggle">
        <a id="menu_toggle"><i class="fa fa-bars"></i></a>
      </div>

      <ul class="nav navbar-nav navbar-right">
        <li class="">
          <a href="javascript:;" class="user-profile dropdown-toggle" data-toggle="dropdown"
             aria-expanded="false">
            <img src="user.png" alt="">{{name}}
            <span class=" fa fa-angle-down"></span>
          </a>
          <ul class="dropdown-menu dropdown-usermenu pull-right">
            <li><a (click)="logout()"><i class="fa fa-sign-out pull-right"></i> Log Out</a></li>
          </ul>
        </li>
      </ul>
    </nav>
  </div>
</div>
