.card-footer {
  position: relative;
  text-align: center;
  color: #fff;
  color: rgba(255, 255, 255, 0.8);
  display: block;
  z-index: 10;
  background: rgba(0, 0, 0, 0.1);
  text-decoration: none;
  padding: 10px 0;
  font-size: medium;
}

.card-icon:hover .card-footer {
  color: #fff;
  background: rgba(0, 0, 0, 0.15);
}

.card-icon i {
  transition: all 0.2s linear;
  font-size: 145px;
  padding-top: 10px;
}

.card-icon:hover i {
  transform: scale(1.1);
}

.card {
  box-shadow: 0 3px 6px 0 rgba(0, 0, 0, 0.18), 0 4px 15px 0 rgba(0, 0, 0, 0.15);
  height: 250px;
  text-align: center;
}

.card-icon > .icon {
  width: 100%;
  display: block;
  height: 85%;
  padding-top: 20px;
  color: rgba(0, 0, 0, 0.15);
}

.margin-top {
  margin-top: 10px;
}

.home-heading {
  font-size: 50px;
  font-weight: lighter;
}

@media (max-width: 768px) {
  .home-heading {
    font-size: 40px;
  }
}

.div-center {
  height: 30vh;
  text-align: center;
  vertical-align: middle;
  line-height: 30vh;
}
