<div class="row div-center">
  <div class="home-heading">Welcome to Kidorah</div>
</div>
<div class="row">
  <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12 margin-top">
    <div class="col-lg-4 col-md-2 col-sm-2 col-xs-12"></div>
    <div class="col-lg-8 col-md-10 col-sm-10 col-xs-12">
      <a [routerLink]="['/bug']">
        <div class="card-icon card" style="background-color: #F39C12">
          <i class="fa fa-bug icon"></i>
          <div class="card-footer">View Bugs</div>
        </div>
      </a>
    </div>
  </div>

  <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12 margin-top">
    <div class="col-lg-2 col-md-1 col-sm-1 col-xs-12"></div>
    <div class="col-lg-8 col-md-10 col-sm-10 col-xs-12">
      <a [routerLink]="['/issue/new']">
        <div class="card-icon card" style="background-color: #00c0ef">
          <i class="fa fa-file-text-o icon"></i>
          <div class="small-box">
            <div class="card-footer">Report an Issue</div>
          </div>
        </div>
      </a>
    </div>
    <div class="col-lg-2 col-md-1 col-sm-1 col-xs-12"></div>
  </div>

  <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12 margin-top">
    <div class="col-lg-8 col-md-10 col-sm-10 col-xs-12">
      <a [routerLink]="['/search']">
        <div class="card-icon card" style="background-color: #00A65A">
          <i class="fa fa-search icon"></i>
          <div class="small-box">
            <div class="card-footer">Search</div>
          </div>
        </div>
      </a>
    </div>
    <div class="col-lg-4 col-md-2 col-sm-2 col-xs-12"></div>
  </div>
</div>
