<div class="">
  <div class="page-title">
    <div class="title_left">
      <h3>Team Management</h3>
    </div>
  </div>

  <div class="clearfix"></div>
  <div class="row">
    <div class="col-xs-12">
      <div class="x_panel">
        <div class="x_title">
          <h2>New Teams</h2>
          <ul class="nav navbar-right panel_toolbox">
            <li style="float: right;"><a class="collapse-link"><i class="fa fa-chevron-up"></i></a>
            </li>
          </ul>
          <div class="clearfix"></div>
        </div>
        <div class="x_content">
          <table class="table table-striped table-no-bordered" id='newTeamTable'>
            <thead>
            <tr>
              <th data-field="team_name" class="col-xs-3">Team Name</th>
              <th data-field="team_admin" class="col-xs-1">Team Admin</th>
              <th data-field="team_member" class="col-xs-3">Team Members</th>
              <th data-field="product_allowance" class="col-xs-1">Product Allowance</th>
              <th data-field="edit" data-events='teamEditEvents' class="col-xs-4">Edit</th>
            </tr>
            </thead>
          </table>
        </div>
      </div>
    </div>
  </div>


  <div class="clearfix"></div>
  <div class="row">
    <div class="col-xs-12">
      <div class="x_panel">
        <div class="x_title">
          <h2>Approved Teams</h2>
          <ul class="nav navbar-right panel_toolbox">
            <li style="float: right;"><a class="collapse-link"><i class="fa fa-chevron-up"></i></a>
            </li>
          </ul>
          <div class="clearfix"></div>
        </div>
        <div class="x_content">
          <table class="table table-striped table-no-bordered" id='approvedTeamTable'>
            <thead>
            <tr>
              <th data-field="team_name" class="col-xs-3">Team Name</th>
              <th data-field="team_admin" class="col-xs-1">Team Admin</th>
              <th data-field="team_member" class="col-xs-3">Team Members</th>
              <th data-field="product_allowance" class="col-xs-1">Product Allowance</th>
              <th data-field="edit" data-events='teamEditEvents' class="col-xs-4">Edit</th>
            </tr>
            </thead>
          </table>
        </div>
      </div>
    </div>
  </div>


  <div class="clearfix"></div>
  <div class="row">
    <div class="col-xs-12">
      <div class="x_panel">
        <div class="x_title">
          <h2>Rejected Teams</h2>
          <ul class="nav navbar-right panel_toolbox">
            <li style="float: right;"><a class="collapse-link"><i class="fa fa-chevron-up"></i></a>
            </li>
          </ul>
          <div class="clearfix"></div>
        </div>
        <div class="x_content">
          <table class="table table-striped table-no-bordered" id='rejectedTeamTable'>
            <thead>
            <tr>
              <th data-field="team_name" class="col-xs-3">Team Name</th>
              <th data-field="team_admin" class="col-xs-1">Team Admin</th>
              <th data-field="team_member" class="col-xs-3">Team Members</th>
              <th data-field="product_allowance" class="col-xs-1">Product Allowance</th>
              <th data-field="edit" data-events='teamEditEvents' class="col-xs-4">Edit</th>
            </tr>
            </thead>
          </table>
        </div>
      </div>
    </div>
  </div>

</div>
