<div class="animate form forgot_form">
  <section class="login_content">
    <form [formGroup]="forgotForm" (ngSubmit)="forgot()">
      <h1>Forgot Password</h1>
      <input type="email" class="form-control" autofocus
             id="forgotEmail" placeholder="Email"
             formControlName="forgotEmail"
             [ngClass]="{'parsley-error ':hasError('forgotEmail')}"/>
      <p *ngIf="hasError('forgotEmail')">Invalid Email</p>
      <div>
        <button type="submit" class="btn btn-primary submit btn-width">Reset Password</button>
      </div>
      <div class="clearfix"></div>
      <div class="separator">
        <p>Want to try again?
          <a href="/login#login"> Log in </a>
        </p>
        <kd-login-footer></kd-login-footer>
      </div>
    </form>
  </section>
</div>
