<div class="animate form login_form">
  <section class="login_content">
    <form [formGroup]="loginForm" (ngSubmit)="login()">
      <h1>Login</h1>
      <div>
        <input type="text" class="form-control" autofocus
               id="loginUsername" placeholder="Username"
               formControlName="loginUsername"
               [ngClass]="{'parsley-error ':hasError('loginUsername')}">
        <p *ngIf="hasError('loginUsername')">Invalid Username</p>

      </div>
      <div>
        <input type="password" class="form-control"
               id="loginPassword" placeholder="Password"
               formControlName="loginPassword"
               [ngClass]="{'parsley-error ': hasError('loginPassword')}">
        <p *ngIf="hasError('loginPassword')">Invalid Password</p>
      </div>
      <div>
        <button type="submit" class="btn btn-primary submit btn-width">Log In</button>
      </div>
      <div class="clearfix"></div>
      <div class="separator">
        <a href="/login#forgot" class="float-left no-margin">Forgot Password?</a>
        <a href="/login#register" class="float-right no-margin"> Register your team </a>
        <kd-login-footer></kd-login-footer>
      </div>
    </form>
  </section>
</div>
