<div class="animate form registration_form">
  <section class="login_content">
    <form [formGroup]="registerForm" (ngSubmit)="registerTeam()">
      <h1>Register Your Team</h1>
      <label for="teamName">Team Name</label>
      <input type="text" class="form-control"
             id="teamName" placeholder="New Team Name"
             formControlName="teamName"
             autocomplete="off"
             [ngClass]="{'parsley-error ':hasError('teamName')}"/>
      <p *ngIf="hasError('teamName')">That teamname is taken. Try another</p>

      <label for="teamAdmin">Team Admin</label>
      <input type="email" class="form-control"
             id="teamAdmin" placeholder="Team Admin Email"
             formControlName="teamAdmin"
             [ngClass]="{'parsley-error ':hasError('teamAdmin')}"/>
      <p *ngIf="hasError('teamAdmin')">Invalid Email</p>

      <label>Team Members</label>
      <ul class="list-group" formArrayName="teamMembers" style="margin:0">
        <div *ngFor="let teamMember of registerForm.get('teamMembers').controls; let i = index">
          <div class="input-group" style="margin-bottom: 0;">
            <input type="email" class="form-control"
                   placeholder="Team Member Email"
                   style="margin-bottom: 0;"
                   formControlName="{{i}}"
                   [ngClass]="{'parsley-error ':hasError(teamMember)}"/>
            <p *ngIf="hasError(teamMember)">Invalid Email</p>
            <span class="input-group-btn align-input-btn">
                    <button type="button" class="btn btn-danger"
                            (click)="removeTeamMember(i)">
                      <i class="fa fa-times" aria-hidden="true"></i>
                    </button>
                  </span>
          </div>
        </div>
      </ul>
      <div class="input-group">
        <input type="email" class="form-control"
               placeholder="Team Member Email" #inputEmail/>
        <span class="input-group-btn align-input-btn">
              <button type="button" class="btn btn-primary"
                      (click)="addTeamMember(inputEmail.value);inputEmail.value=null;">
                <i class="fa fa-plus" aria-hidden="true"></i>
              </button>
            </span>
      </div>
      <div>
        <button type="submit" class="btn btn-primary submit btn-width">Register</button>
      </div>
      <div class="clearfix"></div>
      <div class="separator">
        <p class="change_link">Already a member?
          <a href="/login#login" class="to_register"> Log in </a>
        </p>
        <kd-login-footer></kd-login-footer>
      </div>
    </form>
  </section>
</div>
