<div>
  <div class="login_wrapper">

    <!--[START] RESET PASSWORD FORM-->
    <div class="animate form login_form">
      <section class="login_content">
        <form [formGroup]="resetForm" (ngSubmit)="resetPassword()">
          <h1>Reset Password</h1>
          <div>
            <input type="password" class="form-control" autofocus
                   id="newPassword" placeholder="New Password"
                   formControlName="newPassword"
                   [ngClass]="{'parsley-error animated pulse':hasError('newPassword')}">
            <p *ngIf="hasError('newPassword')">Invalid Password</p>

          </div>
          <div>
            <input type="password" class="form-control"
                   id="confirmPassword" placeholder="Confirm Password"
                   formControlName="confirmPassword"
                   [ngClass]="{'parsley-error animated pulse': hasError('confirmPassword')}">
            <p *ngIf="hasError('confirmPassword')">Passwords not matching</p>
          </div>
          <div>
            <button type="submit" class="btn btn-primary submit btn-width">Update Password</button>
          </div>

          <div class="clearfix"></div>
          <div class="separator">
            <div>
              <h2><i class="fa fa-group"></i> Kidorah</h2>
              <p>
                <i class="fa fa-copyright" aria-hidden="true"></i>
                2016 All Rights Reserved. Privacy and Terms
              </p>
            </div>
          </div>
        </form>
      </section>
    </div>
    <!--[END] RESET PASSWORD FORM-->

  </div>
</div>
